<app-navbar></app-navbar>

<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile><button routerLink="/create" mat-raised-button color="primary">Create Details</button></mat-grid-tile>
    <mat-grid-tile><button routerLink="/read" mat-raised-button color="primary">Read details</button></mat-grid-tile>
    <mat-grid-tile><button routerLink="/update" mat-raised-button color="warn">Update Details</button></mat-grid-tile>
    <mat-grid-tile><button routerLink="/delete" mat-raised-button color="warn">Delete Details</button></mat-grid-tile>
</mat-grid-list>
