
<div *ngIf="users[0]==null">
    <p>no users record available</p>
    </div>
    <table *ngIf="!showUpdateForm">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        <tr *ngFor="let data of users">
            <td>{{data.id}}</td>
            <td>{{data.name}}</td>
            <td>{{data.email}}</td>
            <td>{{data.phone}}</td>
            <td><button (click)="showUpdateForm =true && getUser(this.data.id)" mat-raised-button color="warn">update</button></td>
        </tr>
    </table>

    <div *ngIf="showUpdateForm" class="create">
        <h2>Update Form</h2>
        <form (ngSubmit)="updateUser()" class="example-form">

            <mat-form-field class="example-full-width field"  appearance="outline">
                <mat-label>ID</mat-label>
                <input  name="id" [(ngModel)]="temp.id" matInput placeholder="ID" >
            </mat-form-field><br> 
            
            <mat-form-field class="example-full-width field"  appearance="outline">
                <mat-label>Name</mat-label>
                <input  name="name" [(ngModel)]="temp.name" matInput placeholder="Name" >
            </mat-form-field><br>
        
            <mat-form-field class="example-full-width field"  appearance="outline">
                <mat-label>Email</mat-label>
                <input name="email" [(ngModel)]="temp.email" matInput placeholder="Email" >
            </mat-form-field><br>
    
            <mat-form-field class="example-full-width field"  appearance="outline">
                <mat-label>Phone</mat-label>
                <input name="phone" [(ngModel)]="temp.phone" matInput placeholder="Phone" >
            </mat-form-field><br>
    
            <mat-form-field class="example-full-width field"  appearance="outline">
                <mat-label>Password</mat-label>
                <input name="password" [(ngModel)]="temp.password" type="password"   matInput placeholder="Password" >
            </mat-form-field><br>
    
            <mat-form-field class="example-full-width field"  appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input type="password" matInput placeholder="Confirm Password">
            </mat-form-field>
    
            <div class="text">
                <button type="submit"  mat-raised-button color="primary">send</button>
                <button type="reset"  mat-raised-button color="accent">reset</button>
            </div>
        </form>
    </div>